body{
    padding-top: 40px;
}

.button{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-image: linear-gradient(#3090df, #2974ad) ;
    box-shadow: 1px 1px 6px 1px #c2c2c2;
}
.button:hover{
    background-image: linear-gradient(#35a5fa, #2F8ED9);
}
